<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sangjin_lee.rentplattform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemRentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BadReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnrallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmItemActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>